<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Site</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <nav>
            <ul style="list-style-type: none; padding-left: 0;">
                <li><a href="/">Home</a></li>
                <li><a href="/recipes">Recipe Listing</a></li>
                <li><a href="/add-recipe">Add Recipe</a></li>
            </ul>
        </nav>
    </header>